<div class="container welcome">
  <div class="row">
    <h1>Welcome to Deadpool Chat</h1>
    <p>We don't keep your messages. Haha!</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="welcome-image"></div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Login like a Deadpool hero !</h3>
          <div class="card-text">
            <form action="">
              <fieldset class="form-group">
                <label for="name">Email</label>
                <input type="email" class="form-control" placeholder="Your email">
              </fieldset>
              <fieldset class="form-group">
                <label for="name">Password</label>
                <input type="password" class="form-control">
              </fieldset>
              <button class="btn btn-primary">Login</button>
              <button class="btn btn-default">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
