<div class="card user">
  <div class="card-block">
    <div>
      <img src="avatar-default.png">
      <span class="card-text lead"><%= friend.name %></span>
    </div>
    <div>
      <%= link_to friendships_path(friend_id: friend.id), method: :post, class: "add-btn" do %>
        <i class="fa fa-comments-o fa-lg" aria-hidden="true"></i> Send message
      <% end %>
    </div>
  </div>
</div>
