<% @new_friends.each do |new_friend| %>
<div class="card user">
  <div class="card-block">
    <div class="row">
      <div class="avatar"><%= new_friend.short_name_avatar %></div>
      <div class="user-block">
        <p class="card-text lead user-name"><%= new_friend.name %></p>
        <%= link_to friendships_path(friend_id: new_friend.id), method: :post, class: "add-btn" do %>
          <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Add friend
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
