.friends {
  .header {
    margin-top: 7px;
    margin-bottom: 10px;
    .btn-add-new {
      margin-top: 7px;
    }
  }
  .body {
  }
}
.add_friends {
  .header {
    margin-top: 7px;
    margin-bottom: 10px;
  }
  .body {
  }
}
