.incoming {
  .header {
    margin-top: 20px;

    .sort-group {
      text-align: right;
    }
  }

  .message-container {
    margin-top: 10px;

    .name-unread {

    }

    .name-read {
      font-weight: 200;
    }

    .lead {
      font-size: .9rem;
    }
  }
}
