.welcome {
  .header {
    text-align: center;
    margin-top: 15px;
  }
  .body {
    margin-top: 30px;
  }
  div.welcome-image {
    display: block;
    margin-top: -60px;
    width: 500px;
    height: 500px;
    background-image: image_url("welcome/big-head-deadpool.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
